In [32]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [18]:
url = "B:\DATA_SCIENCE\Data_Science_IBM_Material\MACHINE_LEARNING_TUTORIAL\SELF_DONE_ALGORITHM\salary_data.csv"
data = pd.read_csv(url)
data.head(10)

,NAME,JOBTITLE,DEPTID,DESCR,HIRE_DT,ANNUAL_RT,GROSS
0,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev (031),10/24/1979 12:00:00 AM,$60200.00,$58480.46
1,"Aaron,Petra L",Assistant State's Attorney,A29045,States Attorneys Office (045),09/25/2006 12:00:00 AM,$81200.00,$79220.72
2,"Abadir,Adam O",Council Technician,A02002,City Council (002),12/12/2016 12:00:00 AM,$64823.00,$57375.31
3,"Abaku,Aigbolosimuan O",Police Officer Trainee,A99416,Police Department (416),04/17/2018 12:00:00 AM,$50440.00,$11881.34
4,"Abbeduto,Mack",Law Clerk SAO,A29017,States Attorneys Office (017),05/22/2017 12:00:00 AM,$38926.00,$35138.40
5,"Abbott,Ethan N",Recreation Arts Instructor,A67012,R&P-Administration (012),04/11/2018 12:00:00 AM,$33280.00,$4642.72
6,"Abbott-Cole,Michelle",Operations Officer III,A90005,TRANS-Traffic (005),11/28/2014 12:00:00 AM,$74300.00,$75011.45
7,"Abdal-Rahim,Naim A",EMT Firefighter Suppression,A64120,Fire Department (120),03/30/2011 12:00:00 AM,$66310.00,$79114.46
8,"Abdi,Ezekiel W",Police Sergeant,A99160,Police Department (160),06/14/2007 12:00:00 AM,$86902.00,$112341.17
9,"Abdul Adl,Attrice A",Radio Dispatcher Sheriff,A38410,Sheriff's Office (410),09/02/1999 12:00:00 AM,$48701.00,$62065.45

In [24]:
data_dict = {"YearExperience" :[1.1, 1.3, 1.5, 2.0, 2.2, 2.9 , 3.0 , 3.2, 3.2, 3.7], 
             "salary": [39343, 46205, 37731, 43525,39891, 56642, 60150, 54445, 64445, 57189]}

da = pd.DataFrame(data_dict)
da.to_csv(r'B:\DATA_SCIENCE\Data_Science_IBM_Material\MACHINE_LEARNING_TUTORIAL\SELF_DONE_ALGORITHM\salary2.csv', index = False)
print("File has created in the folder")

File has created in the folder

In [25]:
url = "B:\DATA_SCIENCE\Data_Science_IBM_Material\MACHINE_LEARNING_TUTORIAL\SELF_DONE_ALGORITHM\salary2.csv"
data = pd.read_csv(url)
data.head(10)

   YearExperience  salary
0             1.1   39343
1             1.3   46205
2             1.5   37731
3             2.0   43525
4             2.2   39891
5             2.9   56642
6             3.0   60150
7             3.2   54445
8             3.2   64445
9             3.7   57189

In [40]:
# allocate the data into indipedent variable and depedent variable
real_x = data.iloc[:, 0].values
real_y = data.iloc[:,1].values
real_x = real_x.reshape(-1,1)
real_y = real_y.reshape(-1,1)

In [45]:
# split the data into train and test model
x_train, x_test, y_train, y_test = train_test_split(real_x, real_y, test_size = 0.25, random_state=0)
x_train

array([[3.7],
       [1.3],
       [3. ],
       [3.2],
       [2. ],
       [1.1],
       [2.9]])

In [46]:
# now will train the data
LR = LinearRegression()
LR.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [47]:
pred_y = LR.predict(x_test)

In [54]:
pred_y[3]

IndexError: list index out of range